<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="empBean" class="com.spring.beans.Employee">
    	<property name="eId" value="E-111"/>
    	<property name="eName" value="Durga"/>
    	<property name="eSal" value="25000"/>
    	<property name="eAddr" value="Pune"/>
    	<property name="acc">
    		<bean id="account" class="com.spring.beans.Account">
    			<property name="accNo" value="abc123" />
    			<property name="accName" value="Spring" />
    			<property name="accType" value="Savings" />
    			<property name="balance" value="50000" />
    		</bean>
    	</property>
    </bean>
</beans>
    
    