<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="studentBean" class="com.spring.beans.Student">
    	<constructor-arg name="sid" value="S-100"/>
    	<constructor-arg name="sname" value="S. Jaysurya"/>
    	<constructor-arg name="saddr" value="Washim"/>
    	
    	<property name="sid" value="S-111" />
    	<property name="sname" value="MS Dhoni" />
    	<property name="saddr" value="Patna" />
    </bean>
</beans>    