<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="accBean" class="com.spring.beans.Account">
		<property name="accNo" value="111" />
		<property name="accHolderName" value="Java Spring" />
		<!-- <property name="accType" value="Current" /> -->
		<property name="balance" value="25000" />
		<property name="accHolderEmail" value="spring" />
		<property name="accHolderMobileNo" value="9876543210" />
	</bean>
	<bean id="accPostProcessor" class="com.spring.processor.AccountPostProcessor" />
</beans>