<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="studBean" class="com.spring.beans.Student">
    	<property name="sId" value="111" />
    	<property name="sName" value="Mahesh" />
    	<property name="sAddr" value="Pune" />   		
    </bean>    
</beans>           