<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="courseBean" class="com.spring.beans.Course">
		<constructor-arg name="cId" value="C-111" />
		<constructor-arg name="cCost" value="5000" />
		<constructor-arg name="cName" value="Java Spring" />
	</bean>

</beans>